<app-todo-card
  (displayTodo)="onDisplayTodo($event)"
  [currentTodo]="todo"
  *ngFor="let todo of todos"
></app-todo-card>
<hr />
<div
  class="todo-card"
  [ngStyle]="{ 'margin-top': '16px' }"
  *ngIf="currentDisplayTodo"
>
  <div class="todo-card__title">
    {{ currentDisplayTodo.title }}
  </div>
  <div class="todo-card__progress">
    <progress max="100" [value]="currentDisplayTodo.progress"></progress>
  </div>
  <div class="todo-card__date">
    {{ currentDisplayTodo.date }}
  </div>
  <div class="todo-card__description">
    {{ currentDisplayTodo.description }}
  </div>
  <form [formGroup]="progressForm" class="progress-form" (ngSubmit)="onUpdateTodoProgress()">
    <div class="control-group">
      <label class="control-label" for="update-progresss"
        >Update Progress</label
      >
      <input
        formControlName="updateProgress"
        class="control-input"
        id="update-progresss"
        type="text"
        autocomplete="off"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <button (click)="onDeleteTodo()" class="btn btn-danger" [ngStyle]="{'margin-top': '10px'}">Delete Todo</button>
</div>
